:host {
    background-color: var(--button-group-background-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: var(--button-group-gap);
    height: auto;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    width: 100%;
}

:host(:focus-visible) {
    outline: 2px solid var(--button-group-focus-outline-color);
    outline-offset: -2px;
}

div {
    flex-grow: var(--button-group-button-width-grow);
    flex-shrink: var(--button-group-button-width-shrink);
    height: var(--button-group-button-height);
    width: var(--button-group-button-width);
}

input {
    display: none;
}

button {
    -webkit-tap-highlight-color: transparent;
    background-color: var(--button-group-button-background-color);
    border-bottom: var(--button-group-button-bottom-border-width) var(--button-group-button-bottom-border-style) var(--button-group-button-bottom-border-color);
    border-left: var(--button-group-button-left-border-width) var(--button-group-button-left-border-style) var(--button-group-button-left-border-color);
    border-radius: 0;
    border-right: var(--button-group-button-right-border-width) var(--button-group-button-right-border-style) var(--button-group-button-right-border-color);
    border-top: var(--button-group-button-top-border-width) var(--button-group-button-top-border-style) var(--button-group-button-top-border-color);
    color: var(--button-group-button-foreground-color);
    cursor: default;
    font-family: unset;
    font-size: var(--button-group-button-font-size);
    height: 100%;
    outline: none;
    overflow: hidden;
    padding: var(--button-group-button-padding);
    text-align: var(--button-group-button-text-aligin);
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

input:not(:checked) + button:not(:disabled),
input[type="checkbox"] + button:not(:disabled),
button[data-button_only]:not(:disabled) {
    cursor: pointer;
}

button:not(:disabled):focus-visible {
    outline: 2px solid var(--button-group-focus-button-outline-color);
    outline-offset: -2px;
}

button:disabled {
    opacity: 0.6;
}

input:checked + button {
    background-color: var(--button-group-selected-button-background-color);
    border-bottom: var(--button-group-selected-button-bottom-border-width) var(--button-group-selected-button-bottom-border-style) var(--button-group-selected-button-bottom-border-color);
    border-left: var(--button-group-selected-button-left-border-width) var(--button-group-selected-button-left-border-style) var(--button-group-selected-button-left-border-color);
    border-right: var(--button-group-selected-button-right-border-width) var(--button-group-selected-button-right-border-style) var(--button-group-selected-button-right-border-color);
    border-top: var(--button-group-selected-button-top-border-width) var(--button-group-selected-button-top-border-style) var(--button-group-selected-button-top-border-color);
    color: var(--button-group-selected-button-foreground-color);
    font-size: var(--button-group-selected-button-font-size);
    padding: var(--button-group-selected-button-padding);
    text-align: var(--button-group-selected-button-text-aligin);
}

input:not([type="checkbox"]):not(:checked) + button:not(:disabled):active,
button[data-button_only]:not(:disabled):active {
    background-color: var(--button-group-active-button-background-color);
    border-bottom: var(--button-group-active-button-bottom-border-width) var(--button-group-active-button-bottom-border-style) var(--button-group-active-button-bottom-border-color);
    border-left: var(--button-group-active-button-left-border-width) var(--button-group-active-button-left-border-style) var(--button-group-active-button-left-border-color);
    border-right: var(--button-group-active-button-right-border-width) var(--button-group-active-button-right-border-style) var(--button-group-active-button-right-border-color);
    border-top: var(--button-group-active-button-top-border-width) var(--button-group-active-button-top-border-style) var(--button-group-active-button-top-border-color);
    color: var(--button-group-active-button-foreground-color);
    font-size: var(--button-group-active-button-font-size);
    padding: var(--button-group-active-button-padding);
    text-align: var(--button-group-active-button-text-aligin);
}

@media (hover: hover) {
    input:not([type="checkbox"]):not(:checked) + button:not(:disabled):hover,
    button[data-button_only]:not(:disabled):hover {
        background-color: var(--button-group-active-button-background-color);
        border-bottom: var(--button-group-active-button-bottom-border-width) var(--button-group-active-button-bottom-border-style) var(--button-group-active-button-bottom-border-color);
        border-left: var(--button-group-active-button-left-border-width) var(--button-group-active-button-left-border-style) var(--button-group-active-button-left-border-color);
        border-right: var(--button-group-active-button-right-border-width) var(--button-group-active-button-right-border-style) var(--button-group-active-button-right-border-color);
        border-top: var(--button-group-active-button-top-border-width) var(--button-group-active-button-top-border-style) var(--button-group-active-button-top-border-color);
        color: var(--button-group-active-button-foreground-color);
        font-size: var(--button-group-active-button-font-size);
        padding: var(--button-group-active-button-padding);
        text-align: var(--button-group-active-button-text-aligin);
    }
}
