:root, :host {
    --flux-button-only-button-group-active-button-background-color: #000000;
    --flux-button-only-button-group-active-button-bottom-border-color: var(--flux-button-only-button-group-active-button-background-color);
    --flux-button-only-button-group-active-button-bottom-border-style: var(--flux-button-only-button-group-button-bottom-border-style);
    --flux-button-only-button-group-active-button-bottom-border-width: var(--flux-button-only-button-group-button-bottom-border-width);
    --flux-button-only-button-group-active-button-font-size: var(--flux-button-only-button-group-button-font-size);
    --flux-button-only-button-group-active-button-foreground-color: #ffffff;
    --flux-button-only-button-group-active-button-left-border-color: var(--flux-button-only-button-group-active-button-background-color);
    --flux-button-only-button-group-active-button-left-border-style: var(--flux-button-only-button-group-button-left-border-style);
    --flux-button-only-button-group-active-button-left-border-width: var(--flux-button-only-button-group-button-left-border-width);
    --flux-button-only-button-group-active-button-padding: var(--flux-button-only-button-group-button-padding);
    --flux-button-only-button-group-active-button-right-border-color: var(--flux-button-only-button-group-active-button-background-color);
    --flux-button-only-button-group-active-button-right-border-style: var(--flux-button-only-button-group-button-right-border-style);
    --flux-button-only-button-group-active-button-right-border-width: var(--flux-button-only-button-group-button-right-border-width);
    --flux-button-only-button-group-active-button-text-aligin: var(--flux-button-only-button-group-button-text-aligin);
    --flux-button-only-button-group-active-button-top-border-color: var(--flux-button-only-button-group-active-button-background-color);
    --flux-button-only-button-group-active-button-top-border-style: var(--flux-button-only-button-group-button-bottom-border-style);
    --flux-button-only-button-group-active-button-top-border-width: var(--flux-button-only-button-group-button-bottom-border-width);
    --flux-button-only-button-group-background-color: #ffffff;
    --flux-button-only-button-group-button-background-color: #000000;
    --flux-button-only-button-group-button-bottom-border-color: var(--flux-button-only-button-group-button-background-color);
    --flux-button-only-button-group-button-bottom-border-style: solid;
    --flux-button-only-button-group-button-bottom-border-width: 0;
    --flux-button-only-button-group-button-font-size: 16px;
    --flux-button-only-button-group-button-foreground-color: #ffffff;
    --flux-button-only-button-group-button-height: 100%;
    --flux-button-only-button-group-button-left-border-color: var(--flux-button-only-button-group-button-background-color);
    --flux-button-only-button-group-button-left-border-style: solid;
    --flux-button-only-button-group-button-left-border-width: 0;
    --flux-button-only-button-group-button-padding: 6px;
    --flux-button-only-button-group-button-right-border-color: var(--flux-button-only-button-group-button-background-color);
    --flux-button-only-button-group-button-right-border-style: solid;
    --flux-button-only-button-group-button-right-border-width: 0;
    --flux-button-only-button-group-button-text-aligin: center;
    --flux-button-only-button-group-button-top-border-color: var(--flux-button-only-button-group-button-background-color);
    --flux-button-only-button-group-button-top-border-style: solid;
    --flux-button-only-button-group-button-top-border-width: 0;
    --flux-button-only-button-group-button-width: auto;
    --flux-button-only-button-group-button-width-grow: 0;
    --flux-button-only-button-group-button-width-shrink: 0;
    --flux-button-only-button-group-focus-button-outline-color: #000000;
    --flux-button-only-button-group-gap: 10px;
}
