:root {
    --flux-button-group-active-button-background-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-active-button-foreground-color: var(--flux-color-scheme-accent-foreground, #ffffff);
    --flux-button-group-button-background-color: var(--flux-color-scheme-background, #ffffff);
    --flux-button-group-button-foreground-color: var(--flux-color-scheme-foreground, #000000);
    --flux-button-group-selected-button-background-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-selected-button-foreground-color: var(--flux-color-scheme-accent-foreground, #ffffff);
}
