:root {
    --flux-button-group-active-background-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-active-bottom-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-active-bottom-border-style: var(--flux-button-group-bottom-border-style);
    --flux-button-group-active-bottom-border-width: var(--flux-button-group-bottom-border-width);
    --flux-button-group-active-font-size: var(--flux-button-group-font-size);
    --flux-button-group-active-foreground-color: var(--flux-color-scheme-accent-foreground, #ffffff);
    --flux-button-group-active-left-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-active-left-border-style: var(--flux-button-group-left-border-style);
    --flux-button-group-active-left-border-width: var(--flux-button-group-left-border-width);
    --flux-button-group-active-padding: var(--flux-button-group-padding);
    --flux-button-group-active-right-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-active-right-border-style: var(--flux-button-group-right-border-style);
    --flux-button-group-active-right-border-width: var(--flux-button-group-right-border-width);
    --flux-button-group-active-top-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-active-top-border-style: var(--flux-button-group-top-border-style);
    --flux-button-group-active-top-border-width: var(--flux-button-group-top-border-width);
    --flux-button-group-background-color: var(--flux-color-scheme-background, #ffffff);
    --flux-button-group-bottom-border-color: var(--flux-color-scheme-background, #ffffff);
    --flux-button-group-bottom-border-style: solid;
    --flux-button-group-bottom-border-width: 0;
    --flux-button-group-focus-outline-color: var(--flux-color-scheme-foreground, #000000);
    --flux-button-group-font-size: 16px;
    --flux-button-group-foreground-color: var(--flux-color-scheme-foreground, #000000);
    --flux-button-group-left-border-color: var(--flux-color-scheme-background, #ffffff);
    --flux-button-group-left-border-style: solid;
    --flux-button-group-left-border-width: 0;
    --flux-button-group-padding: 6px;
    --flux-button-group-right-border-color: var(--flux-color-scheme-background, #ffffff);
    --flux-button-group-right-border-style: solid;
    --flux-button-group-right-border-width: 0;
    --flux-button-group-selected-background-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-selected-bottom-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-selected-bottom-border-style: var(--flux-button-group-bottom-border-style);
    --flux-button-group-selected-bottom-border-width: var(--flux-button-group-bottom-border-width);
    --flux-button-group-selected-font-size: var(--flux-button-group-font-size);
    --flux-button-group-selected-foreground-color: var(--flux-color-scheme-accent-foreground, #ffffff);
    --flux-button-group-selected-left-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-selected-left-border-style: var(--flux-button-group-left-border-style);
    --flux-button-group-selected-left-border-width: var(--flux-button-group-left-border-width);
    --flux-button-group-selected-padding: var(--flux-button-group-padding);
    --flux-button-group-selected-right-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-selected-right-border-style: var(--flux-button-group-right-border-style);
    --flux-button-group-selected-right-border-width: var(--flux-button-group-right-border-width);
    --flux-button-group-selected-top-border-color: var(--flux-color-scheme-accent, #000000);
    --flux-button-group-selected-top-border-style: var(--flux-button-group-top-border-style);
    --flux-button-group-selected-top-border-width: var(--flux-button-group-top-border-width);
    --flux-button-group-top-border-color: var(--flux-color-scheme-background, #ffffff);
    --flux-button-group-top-border-style: solid;
    --flux-button-group-top-border-width: 0;
}
