:host {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}

.buttons {
    --flux-button-group-active-button-background-color: var(--flux-button-only-button-group-active-button-background-color);
    --flux-button-group-active-button-bottom-border-color: var(--flux-button-only-button-group-active-button-bottom-border-color);
    --flux-button-group-active-button-bottom-border-style: var(--flux-button-only-button-group-active-button-bottom-border-style);
    --flux-button-group-active-button-bottom-border-width: var(--flux-button-only-button-group-active-button-bottom-border-width);
    --flux-button-group-active-button-font-size: var(--flux-button-only-button-group-active-button-font-size);
    --flux-button-group-active-button-foreground-color: var(--flux-button-only-button-group-active-button-foreground-color);
    --flux-button-group-active-button-left-border-color: var(--flux-button-only-button-group-active-button-left-border-color);
    --flux-button-group-active-button-left-border-style: var(--flux-button-only-button-group-active-button-left-border-style);
    --flux-button-group-active-button-left-border-width: var(--flux-button-only-button-group-active-button-left-border-width);
    --flux-button-group-active-button-padding: var(--flux-button-only-button-group-active-button-padding);
    --flux-button-group-active-button-right-border-color: var(--flux-button-only-button-group-active-button-right-border-color);
    --flux-button-group-active-button-right-border-style: var(--flux-button-only-button-group-active-button-right-border-style);
    --flux-button-group-active-button-right-border-width: var(--flux-button-only-button-group-active-button-right-border-width);
    --flux-button-group-active-button-text-aligin: var(--flux-button-only-button-group-active-button-text-aligin);
    --flux-button-group-active-button-top-border-color: var(--flux-button-only-button-group-active-button-top-border-color);
    --flux-button-group-active-button-top-border-style: var(--flux-button-only-button-group-active-button-top-border-style);
    --flux-button-group-active-button-top-border-width: var(--flux-button-only-button-group-active-button-top-border-width);
    --flux-button-group-background-color: var(--flux-button-only-button-group-background-color);
    --flux-button-group-button-background-color: var(--flux-button-only-button-group-button-background-color);
    --flux-button-group-button-bottom-border-color: var(--flux-button-only-button-group-button-bottom-border-color);
    --flux-button-group-button-bottom-border-style: var(--flux-button-only-button-group-button-bottom-border-style);
    --flux-button-group-button-bottom-border-width: var(--flux-button-only-button-group-button-bottom-border-width);
    --flux-button-group-button-font-size: var(--flux-button-only-button-group-button-font-size);
    --flux-button-group-button-foreground-color: var(--flux-button-only-button-group-button-foreground-color);
    --flux-button-group-button-height: var(--flux-button-only-button-group-button-height);
    --flux-button-group-button-left-border-color: var(--flux-button-only-button-group-button-left-border-color);
    --flux-button-group-button-left-border-style: var(--flux-button-only-button-group-button-left-border-style);
    --flux-button-group-button-left-border-width: var(--flux-button-only-button-group-button-left-border-width);
    --flux-button-group-button-padding: var(--flux-button-only-button-group-button-padding);
    --flux-button-group-button-right-border-color: var(--flux-button-only-button-group-button-right-border-color);
    --flux-button-group-button-right-border-style: var(--flux-button-only-button-group-button-right-border-style);
    --flux-button-group-button-right-border-width: var(--flux-button-only-button-group-button-right-border-width);
    --flux-button-group-button-text-aligin: var(--flux-button-only-button-group-button-text-aligin);
    --flux-button-group-button-top-border-color: var(--flux-button-only-button-group-button-top-border-color);
    --flux-button-group-button-top-border-style: var(--flux-button-only-button-group-button-top-border-style);
    --flux-button-group-button-top-border-width: var(--flux-button-only-button-group-button-top-border-width);
    --flux-button-group-button-width: var(--flux-button-only-button-group-button-width);
    --flux-button-group-button-width-grow: var(--flux-button-only-button-group-button-width-grow);
    --flux-button-group-button-width-shrink: var(--flux-button-only-button-group-button-width-shrink);
    --flux-button-group-focus-button-outline-color: var(--flux-button-only-button-group-focus-button-outline-color);
    --flux-button-group-focus-outline-color: var(--flux-button-only-button-group-focus-outline-color);
    --flux-button-group-gap: var(--flux-button-only-button-group-gap);
    --flux-button-group-selected-button-background-color: var(--flux-button-only-button-group-active-button-background-color);
    --flux-button-group-selected-button-bottom-border-color: var(--flux-button-only-button-group-active-button-bottom-border-color);
    --flux-button-group-selected-button-bottom-border-style: var(--flux-button-only-button-group-active-button-bottom-border-style);
    --flux-button-group-selected-button-bottom-border-width: var(--flux-button-only-button-group-active-button-bottom-border-width);
    --flux-button-group-selected-button-font-size: var(--flux-button-only-button-group-active-button-font-size);
    --flux-button-group-selected-button-foreground-color: var(--flux-button-only-button-group-active-button-foreground-color);
    --flux-button-group-selected-button-left-border-color: var(--flux-button-only-button-group-active-button-left-border-color);
    --flux-button-group-selected-button-left-border-style: var(--flux-button-only-button-group-active-button-left-border-style);
    --flux-button-group-selected-button-left-border-width: var(--flux-button-only-button-group-active-button-left-border-width);
    --flux-button-group-selected-button-padding: var(--flux-button-only-button-group-active-button-padding);
    --flux-button-group-selected-button-right-border-color: var(--flux-button-only-button-group-active-button-right-border-color);
    --flux-button-group-selected-button-right-border-style: var(--flux-button-only-button-group-active-button-right-border-style);
    --flux-button-group-selected-button-right-border-width: var(--flux-button-only-button-group-active-button-right-border-width);
    --flux-button-group-selected-button-text-aligin: var(--flux-button-only-button-group-active-button-text-aligin);
    --flux-button-group-selected-button-top-border-color: var(--flux-button-only-button-group-active-button-top-border-color);
    --flux-button-group-selected-button-top-border-style: var(--flux-button-only-button-group-active-button-top-border-style);
    --flux-button-group-selected-button-top-border-width: var(--flux-button-only-button-group-active-button-top-border-width);
}
